/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Estilo mío */

.tablero {
  height: 600px;
  width: 600px;
  background-color: #f2e3c9;
}

img {
  height: 100%;
  width: 100%;
}

.pieza {
  width: 33%;
  height: 35%;
  border: 1px solid grey;
  float: left;
}

#titulo {
  font-family: 'Mansalva', cursive;
  color: #ef4b4b;
  font-size: 2em;
}

#instrucciones {
  font-family: 'Fjalla One', sans-serif;
  color: #fa5477;
}

.objetivoTexto {
  font-family: 'Fjalla One', sans-serif;
  color: #7ecfc0;
  font-size: 1.3em;
}

#ultimo-mov {
  font-family: 'Mansalva', cursive;
  color: #7ecfc0;
  font-size: 1.5em;
  clear: both;
}

#footer {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: #7ecfc0;
  background-color: #f2e3c9;
}